/* CSS Styles
Author: Richard Saseun
github: https://github.com/richardsaseun14
date created: 24/08/2022 
*/

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap'); */
@import url('http://fonts.cdnfonts.com/css/montserrat');

body {
	font-family: 'Montserrat', sans-serif;
}

.h-full {
	height: 100vh;
}

.title-section {
	font-weight: 900;
}

.bg-green {
	background-color: #194d44;
}

.bg-home {
	background-color: #f5f5f5;
	margin-top: -1px;
}

.image-section {
	padding: 50px 0;
}

.bg-green-50 {
	background: linear-gradient(180deg, #194d41 0%, rgba(25, 77, 65, 0.254) 100%);
}

.text-green {
	color: #194d44;
}

.bg-green-light {
	background-color: #5bc8af;
}

.text-green-light {
	color: #5bc8af;
}

.nav-link.active {
	text-decoration: underline;
}

.nav-link:hover {
	text-decoration: underline;
}

.navbar-toggler.custom-toggler {
	border-color: transparent;
}

.bg-video {
	background: linear-gradient(90deg, #305d52 1.26%, #153f38 100%);
	/* transform: rotate(90deg); */
}

.video-section {
	padding: 100px 0 70% 0;
}

.list-group-item {
	border: none;
}

.bg-hero {
	background-image: url('./images/hero-bg.png');
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0 200px 0;
}

.heading-1 {
	font-weight: 900;
}

.text-stroke {
	color: transparent;
	-webkit-text-stroke-width: 2px;
}

.text-stroke-white {
	-webkit-text-stroke-color: #fff;
}

.text-stroke-black {
	-webkit-text-stroke-color: #000;
}

/* .text-stroke::after {
	content: attr(data-text);
	position: absolute;
	left: 0;
	-webkit-text-stroke: 0;
	color: #5bc8ae46;
	pointer-events: none;
} */

.stroke-it {
	/* -webkit-text-stroke: 2px red; */
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}

.fs-14 {
	font-size: 14px;
}

.input-material {
	position: relative;
}

.form-hero {
	background: linear-gradient(180deg, #2a7d6c 0%, rgba(62, 105, 96, 0.62) 100%);
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.12);
	border-radius: 12px;
	padding: 40px 20px;
	margin: 0 24px;
}

.hero-title {
	font-weight: 700;
	font-size: 2em;
}

.btn-hero {
	padding: 12px 54px;
	background-color: #5bc8af;
	color: white;
	font-weight: 500;
	transition: all;
	transition-duration: 0.3s;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
}

.btn-hero:focus {
	background-color: #35bb9c;
}

.info-section {
	padding-bottom: 120px;
}

.btn-hero-outline {
	padding: 12px 54px;
	border: 1px solid #5bc8af;
	background-color: transparent;
	color: #5bc8af;
	font-weight: 500;
	transition: all;
	transition-duration: 0.3s;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
}

.btn-organize-outline {
	padding: 12px 54px;
	border: 1px solid #5bc8af;
	background-color: transparent;
	font-weight: 500;
	font-size: 18px;
	font-weight: 600;
	width: 100%;
	min-height: 84px;
}

.btn-organize-info {
	position: absolute;
	top: 32%;
	right: 8%;
	visibility: hidden;
}

.btn-organize-outline:hover .btn-organize-info {
	visibility: visible;
}

.btn-organize-outline:hover {
	color: #5bc8af;
}

.btn-hero:hover {
	background-color: #5bc8af;
	color: white;
}

.btn-hero-outline:hover {
	/* background-color: #5bc8af; */
	color: #5bc8af;
}

.organize-section {
	padding-top: 100px;
	padding-bottom: 100px;
}

.btn-hero:hover,
.btn-hero-outline:hover {
	transform: translate(0, -3px);
	box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.08);
	/* animation: pulse;
	animation-duration: 2s; */
}

.btn-play {
	cursor: pointer;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: -40px;
	text-align: center;
	height: 150px;
	width: 150px;
}

.btn-play:hover {
	animation: pulse;
	animation-duration: 0.5s;
}

.img-video-logo {
	position: absolute;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	bottom: 18px;
}

.footer {
	background-color: #eaeaea;
	color: #757575;
	font-size: 12px;
}

.footer-list {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	align-items: center;
}

.nav-link.footer-link {
	color: #757575;
}

.slider-info-text {
	font-size: 18px;
}
/* ******************** */
/* * MEDIA QUERIES * */
/* ******************** */
@media only screen and (max-width: 500px) {
	/* For mobile phones*/
	.testimonials {
		padding-top: 50px;
	}
	.slider-image {
		z-index: 10;
		margin-left: 24px;
	}
	.slider-image > img {
		height: 200px;
	}
}

@media only screen and (max-width: 1024px) {
	/* For mobile phones and Tabs: */
	.image-video-container {
		position: absolute;
		bottom: 0;
		right: 0;
		width: -webkit-fill-available;
	}

	.image-video {
		width: inherit;
	}

	.slider-info {
		padding: 200px 32px 40px;
		margin-top: -160px;
	}

	.slider-quote {
		position: absolute;
		top: 100px;
		right: 36px;
		height: 60px;
	}
}

/* .margin-revert {
	margin-top: revert;
} */

@media only screen and (min-width: 768px) {
	/* For Tab and Desktop: */
	.slider-info {
		padding: 50px 24px;
		margin-top: 0px;
	}

	.testimonials {
		margin: -40px 0 0 0;
	}

	.slider-quote {
		position: absolute;
		top: 24px;
		right: 50px;
		height: 34px;
	}

	.hero-title {
		font-size: 3em;
	}
	.form-hero {
		padding: 60px 20px;
		margin: 0 64px;
	}

	.footer {
		font-size: 14px;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
	.container {
		max-width: 900px !important;
	}
}
@media only screen and (min-width: 1024px) {
	/* For  Desktop: */
	.container {
		max-width: 1200px;
	}

	.testimonials {
		margin: -40px 120px 0;
	}

	.btn-play {
		left: 40%;
		right: unset;
		top: 37%;
	}

	.hero-title {
		font-size: 3.6em;
	}
	.video-section {
		padding: 100px 0;
	}

	.form-hero {
		padding: 60px 20px;
		margin: 0 16px;
		background: none;
		box-shadow: none;
	}

	.bg-hero {
		padding: 80px 0 120px 0;
	}

	.image-video-container {
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: -webkit-fill-available;
	}
	.img-video-logo {
		position: absolute;
		right: 0;
		right: 40px;
		left: unset;
	}

	.image-video {
		width: 100%;
		height: inherit;
		object-fit: cover;
		object-position: left;
	}
}

/* ******************** */
/* * INPUT WITH FLOATING LABEL * */
/* ******************** */
label {
	position: absolute;
	font-size: 1rem;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	padding: 0 1rem;
	margin: 0 0.5rem;
	transition: 0.1s ease-out;
	transform-origin: left top;
	pointer-events: none;
}

input {
	font-size: 1rem;
	outline: none;
	border: 1px solid white;
	background-color: rgba(255, 255, 255, 0.098);
	border-radius: 2px;
	padding: 1rem 0.7rem;
	color: white;
	transition: 0.1s ease-out;
}

input:focus {
	border-color: white;
}

input:focus + label {
	color: white;
	top: 0;
	/* padding: 0; */
	/* background-color: rgba(255, 255, 255, 0.247); */
	/* margin: 0 5px 0; */
	transform: translateY(-50%) scale(0.9) !important;
}

input:not(:placeholder-shown) + label {
	top: 0;
	transform: translateY(-50%) scale(0.9) !important;
}

input:not(:focus)::placeholder {
	opacity: 0;
}

/* select */
select {
	font-size: 1rem;
	outline: none;
	border: 1px solid white;
	background-color: rgba(255, 255, 255, 0.098);
	border-radius: 2px;
	padding: 1rem 0.7rem;
	color: white;
	transition: 0.1s ease-out;
}

select:focus {
	border-color: white;
}

select:focus + label {
	color: white;
	top: 0;
	/* padding: 0; */
	/* background-color: rgba(255, 255, 255, 0.247); */
	/* margin: 0 5px 0; */
	transform: translateY(-50%) scale(0.9) !important;
}

select:not(option) + label {
	top: 0;
	transform: translateY(-50%) scale(0.9) !important;
}

select:not(:focus)option {
	opacity: 0;
}

/* tooltip */
.tooltip-inner {
	background-color: #297c6b;
	box-shadow: 0px 0px 4px black;
	opacity: 1 !important;
	font-size: 12px;
	text-align: left;
}
.tooltip.bs-tooltip-right .tooltip-arrow::before {
	border-right-color: #297c6b !important;
}
.tooltip.bs-tooltip-left .tooltip-arrow::before {
	border-left-color: #297c6b !important;
}
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
	border-bottom-color: #297c6b !important;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
	border-top-color: #297c6b !important;
}
/* .slick-prev:before {
	content: '\f054';
	color: red;
	font-size: 30px;
}

.slick-next:before {
	content: '>';
	color: red;
	font-size: 30px;
} */

.slick-arrows {
	font-size: 2.5em;
	color: #eaeaea;
}

.slick-arrows:hover {
	color: #297c6b;
}

.slick-arrows:focus {
	color: #cecece !important;
}

.slick-next:before {
	content: '';
}
.slick-prev:before {
	content: '';
}

.slick-dots li button:before {
	color: #5bc8af !important;
	/* font-size: 20px; */
}

.slick-dots li button {
	display: block;
	width: 0.7rem;
	height: 0.7rem;
	padding: 0;

	border: none;
	border-radius: 100%;
	background-color: #eaeaea;

	text-indent: -9999px;
}

.slick-dots li button:hover {
	background-color: #5bc8af;
}

.slick-active button {
	background-color: #5bc8af !important;
}

.slick-dots {
	bottom: -55px;
}
